.wrapper {
    width: 50%;
    margin: 50px auto;
    padding: 50px;
    background: #D7FBFF;
  }
  
  .textInput {
    border: none;
    height: 28px;
    margin: 2px;
    border: 1px solid #6B7363;
    font-size: 1.2em;
    padding: 5px;
    width: 70%;
  }
  .textInput:focus {
    outline: none;
  }
  .btn {
    width: 70px;
    border: none;
    margin-top: 5px;
    color: white;
    background-color: #3b5998;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
  }

  .btn:active{
    position: relative;
    top: 5px;
  }

header{
  width: 50%;
    margin: 50px auto;
    padding: 15px 50px;
    background-color: #d7fbff;
}