.success_msg{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #000;
    background-color: rgb(164, 178, 243);
    padding: 5px 19px;
    margin: 25px 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: oldlace;
    display: flex;
    justify-content: center;
    align-items: center;
}